/* estilo gral */

body{
	background: #eee;
}


/* registro */

.box-form{

	background: white;
	border: 1px solid #ccc;
	padding: 20px;
	padding-top: 0px;
	margin: 0px auto;
	float: none;

}

.box-form input{
	margin-bottom: 	10px;
	
}

.box-form label {
	font-size: 0.6em;
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
}

/* label[for="backendbundle_user"] {
	font-size: 9px;
} */


   