{% extends 'AppBundle:layouts:layout.html.twig' %}
   


{% block content %}


<!-- 	 <div class="box-form col-lg-2">
</div> -->

    <div class="box-form col-lg-8">
    	<h2>Registrarse<h2>
    		<hr>
    		{{form_start(form,{'action':'','method':'POST'})}}
    		
    		{{form_errors(form)}}
    		{{form_end(form)}}

    </div>

 <!--    <div class="box-form col-lg-2">
 	 </div> -->
{% endblock %}

